*.gitignore filter=lfs diff=lfs merge=lfs -text
*.vsconfig filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.demo filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.nn filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.renderTexture filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.physicMaterial filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.graph filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/AnnotationManager filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/ArtifactDB-lock filter=lfs diff=lfs merge=lfs -text
*.dag filter=lfs diff=lfs merge=lfs -text
*.outputdata filter=lfs diff=lfs merge=lfs -text
*.dag_derived filter=lfs diff=lfs merge=lfs -text
*.dag_fsmtime filter=lfs diff=lfs merge=lfs -text
*.state filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.traceevents filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.digestcache filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.bhc filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.asmdef filter=lfs diff=lfs merge=lfs -text
*.cginc filter=lfs diff=lfs merge=lfs -text
*.compute filter=lfs diff=lfs merge=lfs -text
*.proto3 filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/207A89C76C3730EA filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/43FFF67504C1B77C filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/66B6680AF8A7451D filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/B4B9E3881B00232E filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/D9186C53EA4CD61E filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/dsymutil filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/llvm-lipo filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/llvm-lipo filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.signature filter=lfs diff=lfs merge=lfs -text
*.asmref filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.collabattributes filter=lfs diff=lfs merge=lfs -text
*.collabignore filter=lfs diff=lfs merge=lfs -text
*.uxml filter=lfs diff=lfs merge=lfs -text
*.uss filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.ide.visualstudio@2.0.18/Editor/Plugins/AppleEventIntegration.bundle/Contents/MacOS/AppleEventIntegration filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.ide.visualstudio@2.0.18/Editor/Plugins/AppleEventIntegration.bundle/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/LICENSE filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/README filter=lfs diff=lfs merge=lfs -text
*.ModuleCompilationTrigger filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.release filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.defines filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.afphoto filter=lfs diff=lfs merge=lfs -text
*.g filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/PackageManager/ProjectCache filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/ScriptMapper filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.st filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/ShaderCache/EditorEncounteredVariants filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/SourceAssetDB-lock filter=lfs diff=lfs merge=lfs -text
*.catalog filter=lfs diff=lfs merge=lfs -text
/mlAgent/Library/expandedItems filter=lfs diff=lfs merge=lfs -text
*.dwlt filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.pylintrc filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.rsp filter=lfs diff=lfs merge=lfs -text
/mlTest/ml-agents-release_8/Dockerfile filter=lfs diff=lfs merge=lfs -text
/mlTest/ml-agents-release_8/LICENSE filter=lfs diff=lfs merge=lfs -text
*.DotSettings filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.colors filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.proto filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
